@{ ViewBag.Title = "Index";
   Layout = "~/Views/Shared/_Layout2.cshtml"; }

<!-- Thank you section -->
<section id="aa-error">
    <div class="container">
        <div class="row align-content-center">
            <div class="col-lg-12">
                <div class="text-black-50">
                    <h1>Thank You</h1>
                    <span>Your Order is completed Successfully.</span>
                  
                    <a href="@Url.Action("Index","HomePage")"> Go to Homepage</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Thank you section -->
