@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>ABOUT US</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">ABOUT US</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h2 class="noo-sh-title">We are <span></span></h2>
                <p>
                    "Welcome to Ali Electronics, your one-stop-shop for all things electronics! We are dedicated to providing our customers with the highest quality products, outstanding customer service, and the best shopping experience possible.

                    At Ali Electronics, we understand that technology is constantly evolving, which is why we offer a wide range of products to keep up with the latest trends. From smartphones, laptops, and tablets to cameras, gaming systems, and home entertainment, we have it all.

                    We pride ourselves on being experts in our field, and our knowledgeable and friendly staff are always on hand to assist you with any questions or concerns you may have. Whether you're looking for advice on a new purchase, need technical support, or have a general enquiry, we're here to help.
                </p>
                <p>
                    As a family-owned business, we take great pride in the relationships we build with our customers. We are committed to providing you with a seamless shopping experience, from the moment you enter our store to the moment you leave. Our goal is to exceed your expectations and ensure that you're completely satisfied with your purchase.

                    We believe that electronics should be accessible to everyone, which is why we offer competitive prices and frequent sales to make our products more affordable. We also offer flexible payment options, so you can choose the payment method that suits you best.

                    At Ali Electronics, we're passionate about technology and the ways it can enhance our lives. We strive to bring you the latest and greatest products, and we're constantly updating our inventory to ensure that we're offering you the best selection possible.

                    Thank you for choosing Ali Electronics as your go-to electronics store. We look forward to serving you and helping you find the perfect product to meet your needs.
                </p>
            </div>
          
        </div>
    </div>
</div>
<footer>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <img src="~/Content/images/logo2.png" alt="Cool green dress with red bell" class="img-responsive" width="260" height="90">
                        <p>Ali Electronics deal original reliable products only with best competitive prices and provide best after sales services. </p>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Customer Service</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Delivery Information</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Contact Us</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Address: Hussain Agahi Rd, Qila Kuhna Qasim Bagh, Multan, Punjab </p>
                            </li>
                            <li>
                                <p>
                                    <i class="fa-phone"></i> Phone: 0301-2221355<br>
                                    061-4510355<br>
                                    061-45163556<br>
                                </p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">contactinfo@gmail.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>